* {
    margin: 0;
    padding: 0;

}

body {
    background-color:#0E0F11;
    color: yellow;
} */

.h1{
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align:center;
    color: red;
    font-family: 'Playfair Display', serif;
    font-size: 80px;
}

